<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
  <th:block th:fragment="content">

    <h1 class="mt-4" style="margin-bottom: 20px;" >위험성평가 결과 내용</h1>

    <div class="form-group">
      <label style="margin-bottom: 10px;">연구실 위치</label>
      <input type="text" class="form-control" name="restaurantName" th:value="${dto.restaurantName}" style="margin-bottom: 10px;" readonly>
    </div>

    <div class="text_box form-group" style="margin-bottom: 30px;">
      <label style="margin-bottom: 10px;">댓글</label>
      <input type="text" class="form-control" name="title" th:value="${dto.reviewCnt} + 개"  style="margin-bottom: 10px;" readonly></textarea>
    </div>

    <div class="text_box form-group" style="margin-bottom: 30px;">
      <label style="margin-bottom: 10px;">신고 내용</label>
      <textarea class="textarea form-control" name="content" th:text="${dto.content}" style="margin-bottom: 10px;" readonly></textarea>
    </div>

    <div class="text_box form-group" style="margin-bottom: 30px;">
      <label style="margin-bottom: 10px;">개선 여부</label>
      <input type="text" class="form-control" name="possibility" th:value="${dto.possibility}" style="margin-bottom: 10px;" readonly>
    </div>


    <style>
            .uploadResult {
                width: 100%;
                background-color: gray;
                margin-top: 10px;
            }
            .uploadResult ul {
                display: flex;
                flex-flow: row;
                justify-content: center;
                align-items: center;
                vertical-align: top;
                overflow: auto;
            }
            .uploadResult ul li {
                list-style: none;
                padding: 10px;
                margin-left: 2em;
            }
            .uploadResult ul li img {
                width: 100px;
            }

            .modalClose{
                display: none;
            }

            .text_box {
                position:relative;
                display:inline-block;
                width:100%;
            }

            .text_box textarea {
                width:100%;
                height:152px;
                color:#666;
                font-family:"ht_r";
                font-size:18px;
                line-height:28px;
                padding:20px;
                border:1px solid #e4dcd3;
                outline:0;
                resize:none
            }

        </style>
    <div class="uploadResult" style="margin-bottom: 20px;">
      <ul>
        <li th:each="foodReviewImage: ${dto.imageDTOList}" th:data-file="${foodReviewImage.getThumbnailURL()}">
          <img th:if="${foodReviewImage.path != null}"
               th:src="|/display?fileName=${foodReviewImage.getThumbnailURL()}|">
        </li>
      </ul>
    </div>

    <button type="button" class="btn btn-primary">
      댓글 <span class="badge bg-dark">[[${dto.reviewCnt}]]</span>
    </button>

    <button type="button" class="btn btn-info addReviewBtn">댓글 등록</button>

    <div class="list-group reviewList"></div>



    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" onClick="location.href='/foodreview/list'" style="margin-right: 10px;">닫기</button>

      <a th:href="@{/foodreview/modify(fno = ${dto.fno}, page=${requestDTO.page})}">
        <button type="button" class="btn btn-info" style="margin-right: 10px;">평가 수정</button>
      </a>

<!--      <a>-->
<!--        <button type="button" class="btn btn-danger removeReview">삭제</button>-->
<!--      </a>-->
    </div>

    <div class="imageModal modal" tabindex="-2" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">첨부 이미지</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
              <span aria-hidden="true" class="close">&times;</span>
            </button>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
          </div>
        </div>
      </div>
    </div>

    <div class="reviewModal modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">댓글 작성</h5>
            <button type = "button" class="close replyClose" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label style="margin-bottom: 10px;">댓글 내용</label>
              <input type="text" class="form-control" name="text" placeholder="내용을 입력하세요.">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기.</button>
            <button type="button" class="btn btn-primary reviewSaveBtn">저장.</button>
            <button type="button" class="btn btn-warning modifyBtn">수정.</button>
            <button type="button" class="btn btn-danger removeBtn">삭제.</button>
          </div>
        </div>
      </div>
    </div>

    <div class="imageModal modal " tabindex="-2" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Picture</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary " data-dismiss="modal">
              닫기
            </button>
          </div>
        </div>
      </div>
    </div>




    <script>
      $(document).ready(function(e){

        // 모달창
        var modal = $('.modal');

        $(".reviewModal .replyClose ").on("click", () => {
            reviewModal.modal('hide');
        });

        $(".reviewModal .btn-secondary ").on("click", () => {
            reviewModal.modal('hide');
        });

        var reviewModal = $(".reviewModal");
        var inputMid = $('input[name="mid]');
        var inputText = $('input[name="mid]');

        $(".addReviewBtn").click(function() {
          //$(".reviewModal").modal("show");

          inputMid.val("");
          inputText.val("");

          $(".removeBtn, .modifyBtn").hide();
          $(".reviewSaveBtn").show();

          reviewModal.modal('show');
        })


        $(".imageModal button").on("click", () => {
          $(".imageModal").modal("hide");
        });

        $(".uploadResult li").click(function(){
          var file = $(this).data('file');
          console.log(file);

          $('.imageModal .modal-body').html("<img style='width:100%' src='/display?fileName="+file+"&size=1' >")

          $(".imageModal").modal("show");
        });

        $('.reviewSaveBtn').click(function() {
                    var data = {fno:fno, text:inputText.val()};
                    console.log(data);

                    $.ajax({
                        url: '/reviews/'+fno,
                        type: "POST",
                        data: JSON.stringify(data),
                        contentType: "application/json; charset=utf-8",
                        dataType: "text",
                        success: function(result) {
                          console.log("result: " + result);
                          self.location.reload();
                        }
                    })
                    reviewModal.modal('hide');
        });

        function getFoodReviews() {
                    function formatTime(str) {
                      var date = new Date(str);

                      return date.getFullYear() + '/' +
                        (date.getMonth() + 1) + '/' +
                        date.getDate() + ' ' +
                        date.getHours() + ':' +
                        date.getMinutes();
                    }

                    $.getJSON("/reviews/" + fno + "/all", function(arr) {
                      var str = "";

                      $.each(arr, function(idx, review) {
                        console.log(review);
                        str += '<div class="card-body" data-reviewnum=' + review.reviewnum +'>';
                        str += '<p class="card-text">' + formatTime(review.regDate) + '</p>';
                        str += '</div>';
                      });
                      $(".reviewList").html(str);
                    });
        }

        getFoodReviews();

        var reviewnum;

        $(".reviewList").on("click", ".card-body", function() {
                  $(".reviewSaveBtn").hide();
                  $(".removeBtn, .modifyBtn").show();

                  var targetReview = $(this);
                  reviewnum = targetReview.data("reviewnum");

                  console.log("reviewnum: " + reviewnum);
                  inputText.val(targetReview.find('.card-title').clone().children().remove().end().text());


                  $('.reviewModal').modal('show');
                });







      });



//      $('.removeReview').on("click", function(){
//        var fno = $().val(); // 삭제할 리뷰의 fno
//      })
    </script>

  </th:block>
</th:block>